*
{
    margin:0px;
    padding:0px;
    font-family:Verdana;
}

#container
{
    margin:20px auto auto auto;
    max-width:800px;
    min-width:400px;
}

#header
{
    font-size:26pt;
    font-variant:small-caps;
}

#lmenu
{
    padding: 3px 0px 3px 5px;
    margin: 20px 0px 0px 0px;
    border-bottom: 1px solid black;
    font: bold 12px Verdana, sans-serif;
    text-align:left;
}

#lmenu li
{
    list-style: none;
    margin: 0px;
    display: inline;
}

#lmenu li a
{
    padding: 3px 0.5em;
    margin-left: 3px;
    border: 1px solid #778;
    border-bottom: none;
    background: #EDEDED;
    text-decoration: none;
}

#lmenu li a:link { color: #448; }
#lmenu li a:visited { color: #667; }

#lmenu li a:hover
{
    color: #000;
    background: #D0D0D0;
    border-color: #227;
}

#lmenu li a#current
{
    background: white;
    border-bottom: 1px solid white;
}

#main
{
    padding:10px;
    padding-left:27px;
    border:1px solid black;
    border-top:none;
}

#main h2
{
    font-size:16pt;
    font-variant:small-caps;
    margin:15px 0px 8px -15px;
}

#footer
{
    margin:20px auto 50px auto;
    font-size:12px;
    width:490px;
}

#license
{
    border-width:0px;
    float:left;
    margin-right:5px;
}

#team
{
    margin:30px 5px 5px 10px;
}

#team td
{
    padding:2px 5px 0px 5px;
}

#team thead td
{
    border-bottom:solid 1px black;
    border-right:solid 1px black;
}

#team tbody td:nth-child(2)
{
    border-left:solid 1px black;
    border-right:solid 1px black;
}