body
{
    background-color:Silver;
}

#wrapper
{
    margin: 10px auto 20px auto;
    background-color:ButtonShadow;
    width:800px;
    padding:10px;
    padding-bottom:20px;
    min-height:500px;
    overflow:hidden;
}

#main
{
    padding:5px 10px 10px 30px;
}

#menu 
{
    width:70%;
    text-align:center;
}

#menu ul {
	padding: 5px;
}

#menu li {
	padding: 5px;
	display: block;
	float:left;
}

#login
{
    margin-top:30px;
    margin-right:20px;
    float:right;
}

h1
{
    margin:0px;
    margin-left:5px;
}

.teams
{
    width:300px;
    float:left;
    margin:10px 50px 20px 15px;
    padding:5px;
    border:1px solid black;
}

.teams h2
{
    border-bottom:1px solid black;
    margin:0px;
    width:100%;
}

#footer
{
    margin:10px auto 5px auto;
    color:GrayText;
    width:300px;
    text-align:center;
}